.interval-list {
  box-sizing: border-box;

  width: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interval-list li {
  list-style-type: none;
}
