.summary-item {
  box-sizing: border-box;
  margin: 10px;
  padding: 10px 30px;
  width: 100%;

  display: flex;
  justify-content: flex-end;

  border-radius: 8px;

  font-family: monospace;
  font-size: 1.3rem;

  background-color: lightyellow;
}


